/* styles/Navbar.module.css */
.navbar {
    background-color: #4caf50; /* Green background */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navItems {
    display: flex;
    gap: 2rem; /* Space between the nav links */
  }
  
  .navLink {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: #ffffffb3; /* Slightly lighter color on hover */
  }
  